PREFIX=/
MODS=18099973866,114839523426558
MONGODB=mongodb+srv://Bbc_yummycook:nanika2026@cluster0.b0d3orn.mongodb.net/?retryWrites=true&w=majority
SESSION_ID=nanika2013
OPENAI_API=sk-tu_key_si_tienes
TENOR_API_KEY=AIzaSyCyouca1_KKy4W_MG1xsPzuku5oa8W358c
PACKNAME=🚩『J𝔸𝖊ｃօ𝖓 Ꮇⅈ Ꮢ𝖊𝘭ⅈɢⅈօN』🛐
AUTHOR=by: 🌹𝙈𝙚𝙞☠︎︎🌹
PORT=10000
